RewriteEngine On
RewriteCond $1 !^(index\.php|robots\.txt|index\.html|favicon\.ico)
RewriteCond %{REQUEST_URI} !^/etc/(.*)$
RewriteCond %{REQUEST_URI} !^/builds/(.*)$
RewriteRule ^((.*)|(.*).do)$ index.php?/$1 [L]