.ci-list {
  &__item {
    margin-top: em(40);
    
    @include mdq-min(tab) {
      margin-top: 0;
    }
    
    & + .ci-list__item {
      margin-top: em(100);
      
      @include mdq-min(tab ){
        margin-top: em(120);
      }
    }
  }
  
  &__title {
    color: #333333;
    font-family: 'Poppins', sans-serif;
    font-size: vw(20);
    font-weight: 600;
    margin-bottom: em(16, 20);
    
    @include mdq-min(sm) {
      font-size: em(24);
    }
    
    @include mdq-min(tab) {
      font-size: em(26);
      margin-bottom: em(20, 26);
    }
  }
  
  &__content {
    color: #333333;
    line-height: (26/14);
    font-size: vw(14);
    font-weight: 700;
    
    @include mdq-min(sm) {
      font-size: em(14);
      font-weight: 500;
    }
    
    .m-img {
      margin-left: -30px;
      margin-right: -30px;
      margin-bottom: em(40);
      
      @include mdq-min(tab) {
        display: none;
      }
    }
    
    .pc-img {
      display: none;
      margin-top: em(40);
      
      @include mdq-min(tab) {
        display: block;
        margin-top: em(78);
      }
    }
    
    .bullet-list--number .bullet-list__item::before {
      margin-top: calc(1em * 0.5);
    }
  }
}