.history {
  display: block;
  
  @include mdq-min(tab) {
    display: flex;
    padding-bottom: em(240);
  }
  
  .history-title {
    @include mdq-min(tab) {
      flex: 1 0 percentage(605/1400);
      max-width: percentage(605/1400);
    }
  }
  
  .history-content {
    @include mdq-min(tab) {
      flex: 1 0 percentage(795/1400);
      max-width: percentage(795/1400);
    }
  }
}

.history-bg {
  background: {
    image: url(/builds/client/assets/images/history/m_bg.png);
    repeat: no-repeat;
    position: center;
    size: cover;
  };
  
  &::after {
    content: '';
    display: block;
    padding-bottom: percentage(200/360);
  }
  
  @include mdq-min(sm) {
    &::after {
      background-position: top center;
      padding-bottom: percentage(120/360);
    }
  }
  
  @include mdq-min(tab) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: em(580);
    max-width: 35%;
    background-image: url(/builds/client/assets/images/history/bg.png);
    background-position: center;
    
    &::after {
      padding-bottom: percentage(900/580);
    }
  }
}

.history-list {
  position: relative;
  margin-top: em(68);
  
  @include mdq-min(tab) {
    margin-top: 0;
  }
  
  &__item {
    position: relative;
    display: block;
    padding-left: 50%;
    padding-bottom: em(84);
    
    @include mdq-min(tab) {
      display: flex;
      padding-left: em(46);
      padding-bottom: em(152);
    }
  
    &:last-child {
      @include mdq-min(tab) {
        padding-bottom: 0;
      }
    
      &::after {
        display: none;
      }
    }
    
    &::before {
      content: '';
      display: block;
      width: em(12);
      height: em(12);
      border: 2px solid #333;
      background-color: #fff;
      border-radius: 100%;
      position: absolute;
      top: 0;
      left: 40%;
      transform: translateX(-50%);
      z-index: 2;
      
      @include mdq-min(tab) {
        left: 0;
        width: 1em;
        height: 1em;
      }
    }
    
    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      left: 40%;
      background-color: #333;
      z-index: 1;
      
      @include mdq-min(tab) {
        left: 0;
      }
    }
    
    .date {
      display: block;
      font-size: vw(18);
      font-weight: 800;
      
      @include mdq-min(sm) {
        font-size: em(22);
      }
      
      @include mdq-min(tab) {
        font-size: em(24);
        flex: 0 0 em(146, 24);
        width: em(146, 24);
        padding-right: em(10, 24);
      }
    }
    
    .content {
      display: block;
      flex: 1 1 auto;
      line-height: (34/24);
      font-size: vw(14);
      font-weight: 700;
      margin-top: em(8, 14);
      
      @include mdq-min(sm) {
        font-size: em(18);
      }
      
      @include mdq-min(tab) {
        font-size: em(24);
        padding-right: em(10, 24);
        margin-top: 0;
      }
    }
    
    .icon {
      flex: 0 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      width: em(80);
      text-align: center;
      transform: translateY(-30%);
      
      @include mdq-min(tab) {
        position: static;
        width: auto;
        transform: translateY(0);
      }
    }
  }
}