.intro-profile {
  &-row {
    @include mdq-min(tab) {
      display: flex;
    }
  }
  
  &-col {
    &:nth-child(1) {
      @include mdq-min(tab) {
        flex: 1 1 auto;
      }
    }
    
    &:nth-child(2) {
      margin-top: em(30);
      
      @include mdq-min(tab) {
        flex: 0 0 auto;
        width: auto;
        padding-right: em(120);
        margin-top: 0;
      }
    }
    
    &:nth-child(3) {
      margin-top: em(30);
      
      @include mdq-min(tab) {
        flex: 0 0 auto;
        width: auto;
        margin-top: 0;
      }
    }
  }
}

.profile-list {
  display: flex;
  flex-wrap: wrap;
  
  @include mdq-min(tab) {
    display: block;
  }
  
  & + .profile-list {
    margin-top: em(30);
    
    @include mdq-min(tab) {
      margin-top: em(80);
    }
  }
  
  &__item {
    flex: 1 0 50%;
    max-width: 50%;
  
    & + .profile-list__item {
      @include mdq-min(tab) {
        margin-top: em(80);
      }
    }
    
    @include mdq-min(tab) {
      flex: 1 0 100%;
      max-width: 100%;
    }
  }
  
  // title
  &__title {
    color: #cccccc;
    font-size: vw(11);
    font-weight: 800;
    margin-bottom: em(8, 11);
    
    @include mdq-min(tab) {
      font-size: em(16);
      margin-bottom: em(20);
    }
    
    .profile-list__inner {
      &__title {
        color: #ccc;
        flex: 0 0 em(120, 16);
        width: em(120, 16);
        padding-right: em(10, 16);
        margin-bottom: em(12, 16);
        
        @include mdq-min(tab) {
          margin-bottom: 0;
        }
      }
      
      &__text {
        display: flex;
        align-items: center;
        gap: em(6);
        font-weight: 700;
        
        &::before {
          content: '';
          width: em(16);
          height: em(16);
          background: {
            image: url(/builds/client/assets/images/icons/information_light.svg);
            repeat: no-repeat;
            position: center;
            size: 100% auto;
          };
        }
      }
    }
  }
  
  // text
  &__text {
    color: #333333;
    font-size: vw(13);
    font-weight: 800;
    line-height: (24/20);
    
    @include mdq-min(tab) {
      font-size: em(20);
    }
  }
  
  // inner
  &__inner {
    @include mdq-min(tab) {
      display: flex;
      
      & + .profile-list__inner {
        margin-top: em(16);
      }
    }
    
    // inner title
    &__title {
      color: #999999;
      margin-bottom: 6px;
  
      @include mdq-min(tab) {
        flex: 0 0 em(120, 20);
        width: em(120, 20);
        padding-right: em(10, 20);
        margin-bottom: 0;
      }
    }
  
    // inner text
    &__text {
      flex: 1 1 auto;
    }
  }
  
  // type 2
  &.profile-list--2 {
    .profile-list {
      &__item {
        flex: 1 0 100%;
        max-width: 100%;
      }
      
      &__text {
        .profile-list__inner {
          display: flex;
          margin-left: -10px;
          margin-right: -10px;
    
          &__title {
            flex: 0 0 25%;
            width: 25%;
            padding-right: 10px;
            padding-left: 10px;
      
            @include mdq-min(tab) {
              flex: 0 0 em(120, 20);
              width: em(120, 20);
              padding-right: em(10, 20);
            }
          }
    
          &__text {
            flex: 0 0 25%;
            width: 25%;
            padding-left: 10px;
            padding-right: 10px;
          }
        }
      }
    }
  }
  
  // type 3
  &.profile-list--3 {
    .profile-list {
      &__item {
        flex: 1 0 100%;
        max-width: 100%;
  
        & + .profile-list__item {
          margin-top: em(30);
          
          @include mdq-min(tab) {
            margin-top: em(80);
          }
        }
      }
      
      &__text {
        display: flex;
        word-break: keep-all;
        margin-left: -10px;
        margin-right: -10px;
        
        @include mdq-min(tab) {
          display: block;
          margin-left: 0;
          margin-right: 0;
        }
        
        .profile-list__inner {
          flex: 1 0 50%;
          max-width: 50%;
          padding-right: 10px;
          padding-left: 10px;
  
          @include mdq-min(tab) {
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}

.intro-video-wrap {
  display: flex;
  flex-direction: column-reverse;
  
  @include mdq-min(tab) {
    flex-direction: row;
  }
  
  .video {
    @include mdq-min(tab) {
      flex: 1 0 percentage(1040/1400);
      max-width: percentage(1040/1400);
    }
    
    video {
      width: 100%;
      max-width: 100%;
    }
  }
  
  .page-title--line {
    margin-bottom: em(20);
    
    @include mdq-min(tab) {
      text-align: right;
      flex: 1 1 auto;
      padding-left: em(150);
      
      .line {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}

.intro-location {
  display: block;
  
  @include mdq-min(tab) {
    display: flex;
  }
  
  &__title-box {
    flex: 1 1 auto;
    
    .swiper-pagination--bullet {
      display: none;
      
      @include mdq-min(tab) {
        display: flex;
        margin-top: em(120);
      }
    }
  }
  
  &-title--line {
    .title {
      color: #333;
      font-size: vw(24);
      font-weight: 800;
      
      @include mdq-min(sm) {
        font-size: em(28);
      }
      
      @include mdq-min(tab) {
        font-size: em(40);
      }
      
      @include mdq-min(lg) {
        font-size: em(48);
      }
      
      br {
        display: none;
        
        @include mdq-min(lg) {
          display: block;
        }
      }
    }
    
    .title--lg {
      font-size: vw(24);
      font-weight: 800;
      letter-spacing: -2px;
      
      @include mdq-min(sm) {
        font-size: em(28);
      }
      
      @include mdq-min(tab) {
        font-size: em(40);
      }
      
      @include mdq-min(lg) {
        font-size: em(78);
      }
    }
    
    .line {
      display: block;
      width: 2px;
      height: em(20);
      margin: em(20) 0;
      background-color: #333;
      
      @include mdq-min(tab) {
        height: em(40);
      }
    }
    
    .sub-title {
      font-family: 'Poppins', sans-serif;
      color: #999;
      font-size: vw(12);
      font-weight: 600;
      line-height: (26/20);
      
      @include mdq-min(sm) {
        font-size: em(16);
      }
      
      @include mdq-min(tab) {
        color: #333;
        font-size: em(20);
      }
      
      br {
        display: none;
        
        @include mdq-min(tab) {
          display: block;
        }
      }
    }
    
    .sub-title--2 {
      font-family: 'Poppins', sans-serif;
      color: #ccc;
      font-size: vw(12);
      font-weight: 600;
      line-height: (26/20);
      margin-top: em(10, 12);
      
      br {
        display: none;
      }
      
      @include mdq-min(sm) {
        font-size: em(12);
      }
      
      @include mdq-min(tab) {
        font-size: em(20);
        margin-top: em(24, 20);
        
        br {
          display: block;
        }
      }
    }
    
    .sub-title--lg {
      color: #999;
      font-size: vw(12);
      line-height: 1.5;
      font-weight: 600;
      
      br {
        display: none;
      }
      
      @include mdq-min(tab) {
        color: #333;
        font-size: em(40);
        
        br {
          display: block;
        }
      }
      
      @include mdq-min(lg) {
        font-size: em(48);
      }
    }
    
    .address-box {
      font-size: vw(14);
      font-weight: 900;
      line-height: (24/20);
      
      @include mdq-min(tab) {
        font-size: em(20);
      }
    }
    
    .address {
      letter-spacing: -1px;
      margin-bottom: em(10, 20);
    }
    
    .tel-box {
      display: flex;
      
      .tel {
        display: flex;
        
        & + .tel {
          padding-left: em(40, 20);
        }
        
        &__title {
          padding-right: em(17, 20);
        }
      }
    }
    
    &.text-end {
      .line {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  
  &__swiper {
    margin-top: em(20);
    
    @include mdq-min(lg) {
      flex: 0 0 percentage(880/1400);
      width: percentage(880/1400);
      margin-top: 0;
    }
    
    .swiper {
      overflow: visible;
    }
    
    .swiper-navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: em(30);
      
      @include mdq-min(tab) {
        margin-top: 0;
      }
      
      .swiper-button {
        &--arrow-left,
        &--arrow-right {
          position: static;
          transform: none;
          
          @include mdq-min(tab) {
            position: absolute;
          }
        }
      }
      
      .swiper-button {
        &--arrow-left {
          top: em(60);
          
          @include mdq-min(tab) {
            transform: translate(em(-62), -50%);
          }
        }
    
        &--arrow-right {
          top: inherit;
          bottom: em(60);
          
          @include mdq-min(tab) {
            transform: translate(em(62), -50%);
          }
        }
      }
    }
  }
  
  &__title-slider.initialized {
    .intro-location__title-slide {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      //transform: translateY(10%);
      transition: all .7s ease-in-out;
      
      &.active {
        opacity: 1;
        visibility: visible;
        //transform: translateY(0);
        transition: all .7s ease-in-out;
      }
    }
  }
}