.location {
  &-box {
    padding: em(50) 0;
    border-top: 2px solid #333;
    
    @include mdq-min(tab) {
      display: flex;
      padding-top: em(80);
      padding-bottom: em(90);
    }
    
    &:last-child {
      border-bottom: 2px solid #333;
    }
  }
  
  &-title-box {
    position: relative;
    flex: 1 1 auto;
    color: #333;
    font-weight: 800;
    line-height: (24/20);
    font-size: vw(14);
    
    @include mdq-min(tab) {
      font-size: em(20);
      padding-right: em(10, 20);
      
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        width: em(26);
        height: em(26);
        background: {
          image: url(/builds/client/assets/images/symbol_b.svg);
          repeat: no-repeat;
          position: center;
          size: auto 100%;
        };
      }
    }
    
    .symbol {
      display: none;
      
      @include mdq-min(tab) {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
    
    .title {
      font-size: vw(24);
      font-weight: 800;
      
      @include mdq-min(tab) {
        font-size: em(40);
      }
    }
    
    .address {
      margin-top: em(20, 14);
      
      @include mdq-min(tab) {
        margin-top: em(20);
      }
    }
    
    .tel-box {
      display: flex;
      gap: em(20, 14);
      margin-top: em(8, 14);
      
      @include mdq-min(tab) {
        display: block;
        margin-top: em(46);
      }
    }
    
    .tel {
      display: flex;
      gap: em(4, 14);
      
      @include mdq-min(tab) {
        gap: em(16, 20);
      }
      
      & + .tel {
        @include mdq-min(tab) {
          margin-top: em(10, 20);
        }
      }
    }
  }
  
  &-map {
    position: relative;
    margin-top: em(28);
    
    @include mdq-min(tab) {
      flex: 0 0 percentage(900/1400);
      width: percentage(900/1400);
    }
    
    &::after {
      content: '';
      display: block;
      padding-bottom: percentage(640/900);
    }
    
    .map {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}