.brochure-section {
  background: {
    image: url(/builds/client/assets/images/promote/m_brochure_bg.png);
    repeat: no-repeat;
    position: top em(100) left -30px;
    size: 100% auto;
  };
  
  @include mdq-min(tab) {
    background: {
      image: url(/builds/client/assets/images/promote/brochure_bg.png);
      repeat: no-repeat;
      position: center;
      size: auto;
    };
  }
}

.brochure {
  position: relative;
  
  @include mdq-min(tab) {
    display: flex;
  }
  
  [data-letters-wrapper] .letter {
    line-height: 1;
  }
  
  &-title {
    flex: 1 1 auto;
    
    .btn-group {
      position: absolute;
      bottom: 20px;
      left: 0;
      display: flex;
      justify-content: center;
      
      @include mdq-min(tab) {
        position: static;
        display: block;
        margin-top: em(80);
      }
    }
  }
  
  &-content {
    width: 160%;
    margin-top: em(70);
    margin-left: -30px;
    
    @include mdq-min(tab) {
      flex: 1 0 percentage(1000/1400);
      max-width: percentage(1000/1400);
      margin-top: 0;
      margin-left: 0;
    }
    
    img {
      display: block;
      width: 100%;
    }
  }
}