body {
  font-size: 16px;
  
  @include media-breakpoint-up(lg) {
    font-size: 14px;
  }
  
  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }
  
  &.nav-opened {
    overflow: hidden;
  }
}

.section {
  position: relative;
}

.sub-main {
  padding-top: em(144);
  padding-bottom: em(132);
  min-height: calc(100vh - #{em(181.5)});
  
  .container {
    max-width: 860px;
  }
}