html.nav-open {
  overflow: hidden;
}

.main {
  position: relative;
  
  // Main page
  &.home {
  
  }
  
  // Sub page
  &:not(.home) {
    padding-top: em(104);
    
    @include mdq-min(tab) {
      padding-top: em(144);
    }
  
    .section {
      padding: em(50) 0;
      
      @include mdq-min(tab) {
        padding: em(80) 0;
      }
      
      @include mdq-min(lg) {
        padding: em(120) 0;
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  
  @include mdq-min(lg) {
    padding-left: em(20);
    padding-right: em(20);
  }
}

.page-row {
  display: block;
  
  @include mdq-min(tab) {
    display: flex;
  }
  
  .page-col {
    flex: 1 0 auto;
    
    &.page-col--title {
      flex: 1 1 auto;
      padding-right: em(10);
    }
  
    &.page-col--content {
      @include mdq-min(tab) {
        flex: 1 0 percentage(1000/1400);
        max-width: percentage(1000/1400);
      }
      
      @include mdq-min(lg) {
        flex: 1 0 percentage(810/1400);
        max-width: percentage(810/1400);}
    }
  }
  
  &--2 {
    display: block;
    
    @include mdq-min(tab) {
      display: flex;
    }
    
    .page-col {
      flex: 1 0 auto;
  
      &.page-col--title {
        @include mdq-min(tab) {
          flex: 1 0 percentage(360/1400);
          max-width: percentage(360/1400);
          padding-right: em(10);
        }
      }
      
      &.page-col--content {
        @include mdq-min(tab) {
          flex: 1 0 percentage(1040/1400);
          max-width: percentage(1040/1400);
        }
      }
    }
  }
  
  &--3 {
    @include mdq-min(tab) {
      display: flex;
    }
    
    .page-col {
      flex: 1 0 auto;
      
      &.page-col--title {
        @include mdq-min(tab) {
          flex: 1 0 percentage(500/1400);
          max-width: percentage(500/1400);
          padding-right: em(10);
        }
      }
      
      &.page-col--content {
        @include mdq-min(tab) {
          flex: 1 0 percentage(900/1400);
          max-width: percentage(900/1400);
        }
      }
    }
  }
}

.line-banner {
  img {
    display: block;
    
    @include mdq-min(tab) {
      width: 95%;
    }
  }
}
