footer.section {
  @include media-breakpoint-down(lg) {
    display: none;
  }
}

.footer {
  position: relative;
  background-color: #333;
  font-size: em(11);
  font-weight: 700;
  color: #777;
  padding: em(74, 11) 0 em(26, 11);
  
  @include media-breakpoint-up(lg) {
    padding: em(40, 11) 0 em(30, 11);
  }
  
  &-logo {
    position: absolute;
    top: em(140, 11);
    left: em(30, 11);
    
    @include media-breakpoint-up(lg) {
      position: static;
    }
  }
  
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &-bottom {
    margin-top: em(88, 11);
    
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: em(62, 11);
    }
  }
  
  .terms-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: em(-6, 12);
    margin-right: em(-6, 12);
    font-size: em(12, 11);
    font-weight: 700;
    line-height: 1;
  
    @include media-breakpoint-up(lg) {
      justify-content: flex-start;
      margin-left: em(-15, 12);
      margin-right: em(-15, 12);
    }
    
    .link {
      color: #999;
      padding-left: em(6, 12);
      padding-right: em(6, 12);
      letter-spacing: -0.5px;
      
      @include media-breakpoint-up(lg) {
        padding-left: em(15, 12);
        padding-right: em(15, 12);
      }
      
      & + .link {
        border-left: 1px solid #444;
      }
    }
  }
  
  .footer-info {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    
    @include media-breakpoint-up(lg) {
      gap: em(8, 11);
    }
    
    .item {
      margin-left: em(6, 11);
      
      &:nth-child(2n) {
        flex: 1 1 auto;
      }
    }
  }
  
  .footer-link {
    display: flex;
    justify-content: center;
    margin-top: em(32);
    
    @include media-breakpoint-up(lg) {
      margin-top: 0;
      justify-content: flex-start;
      gap: em(100, 11);
    }
  }
  
  .app-link {
    display: flex;
    gap: em(20, 11);
    
    .link {
      display: inline-flex;
      align-items: center;
      color: #777;
      gap: em(4, 11);
      
      &::before {
        content: '';
        display: block;
        width: em(24, 11);
        height: em(24, 11);
        background: {
          repeat: no-repeat;
          position: center;
          size: cover;
        };
      }
      
      &--apple::before {
        background-image: url(/builds/client/assets/images/icons/apple_logo_gray.svg);
      }
      
      &--google::before {
        background-image: url(/builds/client/assets/images/icons/google_play_logo_gray.svg);
      }
    }
  }
  
  .sns-link {
    position: absolute;
    top: em(30);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: em(10, 11);
    
    @include media-breakpoint-up(lg) {
      position: static;
      transform: none;
    }
    
    .link {
      display: block;
      flex: 0 0 em(24, 11);
      width: em(24, 11);
      height: em(24, 11);
      background: {
          repeat: no-repeat;
          position: center;
          size: cover;
      };
      
      &--kakao {
        background-image: url(/builds/client/assets/images/icons/kakao.svg);
      }
  
      &--facebook {
        background-image: url(/builds/client/assets/images/icons/facebook.svg);
      }
  
      &--instagram {
        background-image: url(/builds/client/assets/images/icons/instagram.svg);
      }
    }
  }
}
