.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  padding: em(30) 0;
  
  @include media-breakpoint-up(lg) {
    padding: em(40) 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  @at-root {
    .fp-viewing-advantage,
    .fp-viewing-index {
      .header .logo svg path:last-child {
        fill: #fff;
      }
    }
  }
  
  .logo {
    display: block;
    width: em(42);
    
    @at-root {
      .header.header--white .logo svg path:last-child {
        fill: #fff;
      }
    }
  }
  
  .nav {
    display: none;
    
    @include media-breakpoint-up(lg) {
      display: block;
    }
  }
  
  .nav-list {
    display: flex;
    align-items: center;
    gap: em(60);
    
    &__item {
      a {
        display: block;
        color: #333;
        font-size: em(18);
        font-weight: 900;
        
        &.active,
        &:hover {
          color: $primary;
  
          svg path {
            fill: $primary;
          }
        }
        
        @at-root {
          .fp-viewing-advantage,
          .fp-viewing-index {
            .header .nav-list__item a {
              color: #fff;
              
              &.active,
              &:hover {
                color: #303030;
      
                svg path {
                  fill: #303030;
                }
              }
    
              svg path {
                fill: #fff;
              }
            }
          }
        }
        
        svg {
          display: block;
        }
      }
    }
  }
  
  .btn-mo-nav {
    position: relative;
    display: block;
    width: em(18);
    height: em(16);
    border: 0;
    
    @include media-breakpoint-up(lg) {
      display: none;
    }
    
    span {
      position: absolute;
      display: block;
      background-color: #303030;
      width: em(18);
      height: 2px;
      
      @at-root {
        .header.header--white .btn-mo-nav span {
          background-color: #fff;
        }
      }
      
      &:nth-child(1) {
        top: 0;
        left: 0;
      }
      
      &:nth-child(2) {
        width: em(12);
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
  
      &:nth-child(3) {
        bottom: 0;
        left: 0;
      }
    }
  }
}