// Header
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: background-color .3s ease-in-out;
  
  .container {
    padding: em(40) 30px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: padding-top .5s ease-in-out, padding-bottom .5s ease-in-out;
    
    @include mdq-min(tab) {
      padding: em(32) em(80);
    }
  }
  
  // LOGO
  .logo {
    display: block;
    
    .img {
      display: block;
      width: em(116);
      height: em(24);
      background: {
        image: url(/builds/client/assets/images/logo.svg);
        repeat: no-repeat;
        position: center;
        size: cover;
      };
    }
    
    .symbol {
      display: none;
      width: em(19);
      height: em(20);
      background: {
        image: url(/builds/client/assets/images/symbol_b.svg);
        repeat: no-repeat;
        position: center;
        size: cover;
      };
    }
  }
  
  // Sub navigation IN header
  .sub-nav {
    display: flex;
    align-items: center;
    gap: em(90);
    
    .nav-select {
      display: flex;
      align-items: center;
      font-size: em(18);
      font-weight: 800;
      line-height: (24/18);
      user-select: none;
      cursor: pointer;
      
      &::after {
        content: '';
        display: block;
        width: em(7, 18);
        height: em(11, 18);
        margin-left: em(20, 18);
        background: {
          image: url(/builds/client/assets/images/icons/nav_select_arrow.svg);
          repeat: no-repeat;
          position: center;
          size: 100% auto;
        };
      }
      
      &.active {
        &::after {
          transform: rotate(180deg);
        }
        
        & + .nav-list {
          display: block;
        }
      }
    }
    
    .nav-box {
      display: none;
      gap: em(40);
  
      @include mdq-min(tab) {
        display: flex;
      }
      
      .nav-item {
        position: relative;
        padding: em(28) 0;
      }
      
      .nav-list {
        position: absolute;
        bottom: 0;
        left: em(-28);
        transform: translateY(100%);
        width: em(200);
        background-color: #fff;
        padding: em(35) em(28);
        border: 1px solid #f0f0f0;
        display: none;
        
        &__item + .nav-list__item {
          margin-top: em(30);
        }
        
        &__item {
          .link {
            color: #ccc;
            font-size: em(18);
            font-weight: 800;
            
            &.active,
            &:hover {
              color: #333;
            }
          }
        }
      }
    }
  }
  
  // Main Header
  &.header--main {
    .container {
      padding: em(40) 30px;
      
      @include mdq-min(lg) {
        padding: em(60) em(80) 0;
      }
    }
    
    .logo {
      .img {
        background-image: url(/builds/client/assets/images/logo_w.svg);
        
        @include mdq-min(tab) {
          background-image: url(/builds/client/assets/images/logo.svg);
        }
      }
    }
    
    .lang-box {
      a {
        color: #fff;
        
        @include mdq-min(tab) {
          color: #333;
        }
      }
    }
    
    .btn-menu {
      span {
        background-color: #fff;
  
        @include mdq-min(tab) {
          background-color: #333;
        }
      }
    }
  
    // Main scrolled header
    &.scrolled {
      background-color: rgba(#fff, 0.9);
    
      .container {
        padding: em(20) 30px;
      }
      
      .logo {
        .img {
          background-image: url(/builds/client/assets/images/logo.svg);
        }
      }
      
      .lang-box {
        a {
          color: #333;
        }
      }
      
      .btn-menu {
        span {
          background-color: #333;
        }
      }
    }
    
    @include mdq-min(tab) {
      &.header--white {
        .logo {
          .img {
            background: {
              image: url(/builds/client/assets/images/logo_w.svg);
              repeat: no-repeat;
              position: center;
              size: cover;
            };
          }
        }
        
        .lang-box {
          a {
            color: #fff;
          }
        }
        
        .btn-menu {
          span {
            background-color: #fff;
          }
        }
      }
    }
  }
  
  // Sub Header
  &:not(.header--main) {
    background-color: #fff;
    
    @include mdq-min(tab) {
      border-bottom: 1px solid #f0f0f0;
    }

    &.scrolled {
      background-color: rgba(#fff, 0.9);
      
      .container {
        padding: em(20) 30px;
        max-width: 1400px;
      
        @include mdq-min(lg) {
          padding: 0 em(20);
        }
      }
    
      .logo {
        .img {
          display: none;
        }
      
        .symbol {
          display: block;
        }
      }
    }
  }
  
  &.nav-open {
    //background: none !important;
    //border-bottom: 0;
    
    .lang-box {
      a {
        color: #fff;
      }
    }
    
    .btn-menu {
      span {
        background-color: #fff;
      }
    }
  }
}

// Utility
.util-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

// Language
.lang-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: em(40);
  
  a {
    color: #333;
    font-size: em(14);
    font-weight: 800;
    text-decoration: none;
  }
}

// Menu Button
.btn-menu {
  position: relative;
  display: block;
  width: em(32);
  height: em(24);
  background: none;
  border: 0;
  cursor: pointer;
  
  span {
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: all .3s ease-in-out;
    
    &:nth-child(1) {
      position: absolute;
      top: 0;
      left: 0;
    }
    
    &:nth-child(2) {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    
    &:nth-child(3) {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  
  &.active {
    span {
      &:nth-child(1) {
        transform-origin: top left;
        transform: rotate(42deg);
      }
      
      &:nth-child(2) {
        opacity: 0;
      }
      
      &:nth-child(3) {
        transform-origin: bottom left;
        transform: rotate(-42deg);
      }
    }
  }
}