.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: em(800);
  max-width: 100%;
  height: 100vh;
  background-color: #35363c;
  z-index: 12;
  padding: em(40) em(50);
  transform: translateX(100%);
  
  @include mdq-min(tab) {
    padding: em(60) em(100);
  }
  
  &-bg {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#35363C, 0.7);
    z-index: 11;
    transform: translateX(100%);
    background-blend-mode: multiply;
  }
  
  &.active {
    transition: transform .3s ease-in-out;
    transform: translateX(0);
    
    & + .nav-bg {
      transition: transform .5s ease-in-out;
      transform: translateX(0);
    }
  }
  
  .symbol {
    width: em(28);
    height: em(30);
  }
  
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    .lang-box {
      a {
        color: #fff;
      }
    }
    
    .btn-menu {
      span {
        background-color: #fff;
      }
    }
  }
  
  .nav-list {
    &.depth-1 {
      padding-top: em(112);
      
      > .nav-list__item {
        position: relative;
        display: flex;
        align-items: flex-start;
        
        @include mdq-min(tab) {
          display: block;
        }
        
        > .link {
          display: inline-flex;
          align-items: center;
          color: #565863;
          font-size: vw(28);
          font-weight: 800;
          flex: 0 0 auto;
          white-space: nowrap;
          
          @include mdq-min(sm) {
            font-size: em(36);
          }
  
          &::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background-color: #fff;
            margin-left: em(20, 28);
            margin-right: em(20, 28);
            transition: all .2s ease-in-out;
            
            @include mdq-min(tab) {
              height: 4px;
              margin-left: em(40, 36);
              margin-right: em(40, 36);
            }
          }
        }
        
        &.active {
          > .link {
            color: #ffffff;
    
            &::after {
              flex: 0 0 em(40, 28);
              width: em(40, 28);
            }
          }
  
          .nav-list.depth-2 {
            height: auto;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
        
        @include mdq-min(tab) {
          &:hover {
            > .link {
              color: #ffffff;
    
              &::after {
                width: em(40, 36);
              }
            }
  
            .nav-list.depth-2 {
              height: auto;
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }
        }
        
        & + .nav-list__item {
          margin-top: em(30);
          
          @include mdq-min(tab) {
            margin-top: em(74);
          }
        }
      }
    }
  
    &.depth-2 {
      position: static;
      top: 0;
      left: em(246);
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      height: 0;
      transform: translateY(-10px);
      transition: all .2s ease-in-out;
      
      @include mdq-min(tab) {
        position: absolute;
        height: auto;
      }
      
      > .nav-list__item {
        & + .nav-list__item {
          margin-top: em(10);
        }
        
        > .link {
          color: #fff;
          font-weight: 900;
          font-size: vw(16);
          line-height: 1.4;
          word-break: keep-all;
          
          @include mdq-min(md) {
            font-size: em(18);
            line-height: em(40, 18);
          }
        }
      }
    }
    
    &.foot {
      position: static;
      margin-top: em(140);
      
      @include mdq-min(tab) {
        position: absolute;
        bottom: em(82);
        left: em(100);
        margin-top: 0;
      }
      
      .nav-list__item {
        & + .nav-list__item {
          margin-top: em(8);
          
          @include mdq-min(tab) {
            margin-top: em(24);
          }
        }
        
        .link {
          color: #565863;
          font-weight: 900;
        }
        
        &.active,
        &:hover {
          .link {
            color: #ffffff;
          }
        }
      }
    }
  }
}