.btn-group {
  display: flex;
  gap: em(14)
}

.btn-top {
  position: fixed;
  right: em(20);
  bottom: em(20);
  width: em(48);
  height: em(48);
  border: 0;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease-in-out;
  background: {
    color: #35363C;
    image: url(/builds/client/assets/images/icons/top_arrow.svg);
    repeat: no-repeat;
    position: center;
    size: em(25) auto;
  };
  z-index: 2;
  
  @include mdq-min(tab) {
    width: em(60);
    height: em(60);
    background-size: auto;
  }
  
  @include mdq-min(xl) {
    bottom: em(60);
    right: em(100);
  }
  
  &.active {
    opacity: 1;
    visibility: visible;
  }
  
  &.bottom {
    position: absolute;
    bottom: em(340);
    
    @include mdq-min(xl) {
      bottom: em(420);
    }
  }
  
  &.btn-top--main {
    @include mdq-min(tab) {
      display: none !important;
    }
  }
}

.btn-list {
  margin-top: em(64);
  display: inline-block;
  padding: em(22) em(52);
  font-size: em(16);
  line-height: 1;
  font-weight: 700;
  color: #000;
  border: 1px solid #eee;
  background: none;
  cursor: pointer;
}

[class^="btn-download"] {
  display: inline-flex;
  align-items: center;
  font-size: vw(14);
  font-weight: 700;
  color: #333;
  border: 2px solid #333;
  transition: all .3s ease-in-out;
  padding: em(12, 14) em(22, 14);
  
  @include mdq-min(sm) {
    font-size: em(14);
  }
  
  @include mdq-min(tab) {
    font-size: 1em;
    padding: em(18) em(34);
  }
  
  svg {
    margin-right: em(8);
    
    path {
      transition: all .3s ease-in-out;
    }
  }
  
  &:hover {
    color: #fff;
    background-color: #333;
    border: 2px solid #333;
    
    svg path {
      fill: #fff;
    }
  }
  
  //&::before {
  //  content: '';
  //  display: block;
  //  width: em(24);
  //  height: em(24);
  //  margin-right: em(8);
  //  background: {
  //    repeat: no-repeat;
  //    position: center;
  //    size: 100% auto;
  //  };
  //}
}