.btn {
  display: block;
  width: 100%;
  font-size: em(18);
  font-weight: 800;
  line-height: 1;
  padding: em(21, 18);
  text-align: center;
  border-radius: em(10, 18);
  
  @each $color, $value in $theme-colors {
    &.btn-#{$color} {
      color: #fff;
      background-color: $value;
    }
  }
}


.btn-app {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: em(10, 15);
  font-size: em(15);
  font-weight: 800;
  width: em(170, 15);
  height: em(60, 15);
  color: #333;
  background-color: #fff;
  box-shadow: 10px 10px 25px rgba(#000, 0.15);
  border-radius: 4px;
  transition: all .3s ease-in-out;
  user-select: none;
  
  &:hover {
    color: #333;
    transform: translateY(-4px);
    box-shadow: 10px 10px 25px rgba(#000, 0.30);
  }
  
  &--google {
    &::before {
      content: '';
      display: block;
      width: em(24);
      height: em(26);
      background: {
          image: url(/builds/client/assets/images/icons/google_play.svg);
          repeat: no-repeat;
          position: center;
          size: cover;
      };
    }
  }
  
  &--apple {
    &::before {
      content: '';
      display: block;
      width: em(22);
      height: em(26);
      background: {
        image: url(/builds/client/assets/images/icons/apple_store.svg);
        repeat: no-repeat;
        position: center;
        size: cover;
      };
    }
  }
}