.form-control {
  font-size: 16px;
  width: 100%;
  background-color: #fff;
  border-radius: em(10);
  padding: em(10);
  border: 0;
  box-shadow: 0 2px 5px rgba(#000, 0.1);
}

.form-control-search {
  position: relative;
  
  .form-control {
    padding: em(28) em(44) em(28) em(20);
    appearance: none;
  }
  
  .btn-search {
    position: absolute;
    top: 50%;
    right: em(20);
    transform: translateY(-50%);
    content: '';
    display: block;
    width: em(24);
    height: em(24);
    background: {
        image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_282_6763)'%3E%3Cpath d='M18.031 16.617L22.314 20.899L20.899 22.314L16.617 18.031C15.0237 19.3082 13.042 20.0029 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20.0029 13.042 19.3082 15.0237 18.031 16.617ZM16.025 15.875C17.2941 14.5699 18.0029 12.8204 18 11C18 7.132 14.867 4 11 4C7.132 4 4 7.132 4 11C4 14.867 7.132 18 11 18C12.8204 18.0029 14.5699 17.2941 15.875 16.025L16.025 15.875Z' fill='%23333333'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_282_6763'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        repeat: no-repeat;
        position: center;
        size: cover;
    };
  }
}

.form-group {
  & + .form-group {
    margin-top: em(28);
  }
}

.btn-group {
  margin-top: em(40);
}

.form-label {
  display: block;
  font-size: em(12);
  font-weight: 700;
  color: #aaa;
  margin-bottom: em(10, 12);
}

.form-guide {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: em(11);
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #ccc;
  gap: em(4, 11);
  margin-top: em(12, 11);
  
  &::before {
    content: '';
    display: block;
    flex: 0 0 auto;
    width: 1em;
    height: 1em;
    background: {
        image: url(/builds/client/assets/images/icons/notification_gray.svg);
        repeat: no-repeat;
        position: center;
        size: cover;
    };
  }
}

.form-check-input {
  width: 1em;
  height: 1em;
  border: 0;
  box-shadow: 0 2px 5px rgba(#000, 0.1);
  appearance: none;
  border-radius: em(4);
  background: {
      color: #fff;
      image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.364 7.193L11.556 0L12.971 1.414L4.364 10.021L0 5.657L1.414 4.243L4.364 7.193Z' fill='%23DDDDDD'/%3E%3C/svg%3E");
      repeat: no-repeat;
      position: center;
      size: em(13) auto;
  };
  
  &:checked {
    background: {
      color: #333;
      image: url("data:image/svg+xml,%3Csvg width='13' height='11' viewBox='0 0 13 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.364 7.193L11.556 0L12.971 1.414L4.364 10.021L0 5.657L1.414 4.243L4.364 7.193Z' fill='%23FFFFFF'/%3E%3C/svg%3E");
      repeat: no-repeat;
      position: center;
      size: em(13) auto;
    };
  }
}

.form-check-label {
  font-size: em(13);
  font-weight: 700;
  color: #aaa;
}

.form-check {
  display: flex;
  gap: em(7);
  
  .form-check-input:checked ~ .form-check-label {
    color: #333;
  }
}

.form-check-group {
  display: flex;
  align-items: center;
  gap: em(30);
  margin-top: em(30);
  
  .form-check {
    flex: 0 0 auto;
  }
}