.swiper-pagination--bullet {
  display: flex;
  align-items: center;
  
  &.swiper-pagination--white {
    color: #ffffff;
    
    .swiper-pagination--custom {
      display: flex;
      width: auto;
      padding: 0 em(5);
  
      .swiper-pagination-bullet {
        position: relative;
        width: em(28);
        height: em(28);
        border-radius: 100%;
        cursor: pointer;
        margin: 0 em(6);
        background: none;
    
        &::before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          background-color: #fff;
          border-radius: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    
        &-active {
          &::before {
            background-color: #fff;
          }
      
          &::after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 2px solid #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  
  &.swiper-pagination--gray {
    color: rgba(#333, 0.3);
  
    .swiper-pagination--custom {
      display: flex;
      width: auto;
      padding: 0 em(5);
  
      .swiper-pagination-bullet {
        position: relative;
        width: em(28);
        height: em(28);
        border-radius: 100%;
        cursor: pointer;
        margin: 0 em(6);
        background: none;
    
        &::before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          background-color: rgba(#333, 0.3);
          border-radius: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
    
        &-active {
          &::before {
            background-color: #333;
          }
      
          &::after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 2px solid #333;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  
    .swiper-button {
      &--prev {
        background-image: url(../images/icons/swiper_nav_angle_left_g.svg);
      }
  
      &--next {
        background-image: url(../images/icons/swiper_nav_angle_right_g.svg);
      }
    }
  }
  
  &.swiper-pagination--black {
    color: rgba(#333, 0.3);
    
    .swiper-pagination--custom {
      display: flex;
      width: auto;
      padding: 0 em(5);
      
      .swiper-pagination-bullet {
        position: relative;
        width: em(28);
        height: em(28);
        border-radius: 100%;
        cursor: pointer;
        margin: 0 em(6);
        background: none;
        
        &::before {
          content: '';
          display: block;
          width: 6px;
          height: 6px;
          background-color: rgba(#333, 0.3);
          border-radius: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        
        &-active {
          &::before {
            background-color: #333;
          }
          
          &::after {
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 2px solid #333;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
    
    .swiper-button {
      &--prev {
        background-image: url(../images/icons/swiper_nav_angle_left_b.svg);
      }
      
      &--next {
        background-image: url(../images/icons/swiper_nav_angle_right_b.svg);
      }
    }
  }
}

.swiper-pagination__number {
  &-first,
  &-last {
    font-size: em(14);
    font-weight: 800;
    padding: 0 em(16, 14);
  }
}

.swiper-button {
  &--prev,
  &--next {
    cursor: pointer;
    display: block;
    width: em(13);
    height: em(23);
    border: 0;
    background: {
      color: transparent;
      repeat: no-repeat;
      position: center;
      size: auto 100%;
    };
  }
  
  &--prev {
    background-image: url(../images/icons/swiper_nav_angle_left_w.svg);
  }
  
  &--next {
    background-image: url(../images/icons/swiper_nav_angle_right_w.svg);
  }
  
  &--arrow-left,
  &--arrow-right {
    cursor: pointer;
    display: block;
    width: 56px;
    height: 24px;
    border: 0;
    background: {
      color: transparent;
      repeat: no-repeat;
      position: center;
      size: 100% auto;
    };
    
    @include mdq-min(tab){
      width: em(102);
      height: em(42);
    }
  }
  
  &--arrow-left {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(em(-62), -50%);
    background-image: url(../images/icons/swiper_nav_arrow_left_b.svg);
    z-index: 2;
  }
  
  &--arrow-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(em(62), -50%);
    background-image: url(../images/icons/swiper_nav_arrow_right_b.svg);
    z-index: 2;
  }
}
