.section--intro {
  background: {
    repeat: no-repeat;
    position: center;
    size: cover;
  };
  
  @for $i from 1 through 4 {
    &--#{$i} {
      background-image: url(/builds/client/assets/images/intro/intro_bg#{$i}.png);
    }
  }
  
  .intro-wrap {
    .intro-content {
      text-align: center;
      
      @include media-breakpoint-up(lg) {
        text-align: left;
      }
      
      .title {
        color: $primary;
        line-height: (110/120);
        font-size: vw(50);
        font-weight: 900;
        letter-spacing: -2px;
        
        @include media-breakpoint-up(sm) {
          font-size: em(75);
        }
        
        @include media-breakpoint-up(lg) {
          font-size: em(120);
          margin-left: -6px;
        }
        
        .em {
          color: #cadcff;
        }
      }
      
      .sub-title {
        color: $primary;
        font-size: vw(18);
        font-weight: 900;
        letter-spacing: -1px;
        line-height: (40/24);
        margin-top: em(16, 18);
        
        @include media-breakpoint-up(sm) {
          font-size: em(24);
          margin-top: em(28, 24);
        }
      }
      
      .text {
        font-size: vw(14);
        color: #aaa;
        font-weight: 500;
        letter-spacing: -0.5px;
        line-height: (24/16);
        
        @include media-breakpoint-up(sm) {
          font-size: em(16);
        }
      }
    }
  }
  
  &.active {
    &.fp-completely {
      .intro-content {
        .title {
          @include letterActive(5, 1.5, .6);
        }
        
        .sub-title {
          @include letterActive(8, .5, .1);
        }
        
        .text {
          @include letterActive(20, .5, .1);
        }
      }
    }
  }
}

.section--intro--1 {
  padding-top: em(110);
  padding-bottom: em(60);
  
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .intro-wrap {
    .intro-thumb {
      position: relative;
      margin-top: em(50);
    }
    
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      gap: 10px;
      
      .intro-content {
        flex: 1 1 auto;
      }
      
      .intro-thumb {
        flex: 0 0 percentage(520/1200);
        width: percentage(520/1200);
        margin-top: 0;
      }
    }
  }
  
  .circle-wrap {
    position: relative;
    width: 100%;
    
    &::after {
      content: '';
      display: block;
      padding-bottom: percentage(620/520);
    }
    
    .circle {
      display: block;
      width: percentage(200/520);
      border-radius: 100%;
      mix-blend-mode: multiply;
      
      &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      
      &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .icon {
        width: em(24);
        height: em(24);
        background: {
          repeat: no-repeat;
          position: center;
          size: cover;
        };
        
        @for $i from 1 through 4 {
          &.icon--#{$i} {
            background-image: url(/builds/client/assets/images/intro/icon1_#{$i}.svg);
          }
        }
      }
      
      .bar {
        width: 2px;
        height: em(16);
        background-color: rgba(#333, 0.3);
        margin: 7px 0;
      }
      
      .text {
        color: #333;
        font-size: em(14);
        font-weight: 900;
      }
    }
    
    .top,
    .center,
    .bottom {
      &::after {
        content: '';
        display: block;
        padding-bottom: percentage(200/520);
      }
    }
    
    @keyframes circleTop {
      0% {
        opacity: 0;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      
      100% {
        opacity: 1;
        top: 0;
        transform: translate(-50%, 0);
      }
    }
    
    .top {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      
      @at-root {
        .section--intro--1.fp-completely {
          .circle-wrap .top {
            animation: circleTop 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0s 1 alternate both;
          }
        }
      }
      
      @keyframes circleTop1 {
        0% {
          opacity: 0;
          transform: translateX(80%);
        }
        
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      @keyframes circleTop2 {
        0% {
          opacity: 0;
        }
        
        100% {
          opacity: 1;
        }
      }
      
      @keyframes circleTop3 {
        0% {
          opacity: 0;
          transform: translateX(-80%);
        }
        
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      .circle--1 {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(80%);
        background-color: rgba(#dee219, 1);
      }
      
      .circle--2 {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(#bdd4ff, 1);
      }
      
      .circle--3 {
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(-80%);
        background-color: rgba(#ffbe8e, 1);
      }
      
      @at-root {
        .section--intro--1.fp-completely {
          .circle-wrap .circle--1 {
            animation: circleTop1 1s linear .2s 1 alternate both;
          }
          
          .circle-wrap .circle--2 {
            animation: circleTop2 1s linear 0s 1 alternate both;
          }
          
          .circle-wrap .circle--3 {
            animation: circleTop3 1s linear .2s 1 alternate both;
          }
        }
      }
    }
    
    .center {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      
      .symbol {
        width: em(40);
        
        @include media-breakpoint-up(lg) {
          width: em(56);
        }
        
        path:first-child {
          opacity: 0;
          transform: rotate(30deg);
          transform-origin: bottom center;
        }
      }
      
      @keyframes arrowTop {
        0% {
          opacity: 0;
          transform: translate(-50%, 0);
        }
        
        100% {
          opacity: 1;
          transform: translate(-50%, -60%);
        }
      }
      
      @keyframes arrowBottom {
        0% {
          opacity: 0;
          transform: translate(-50%, 0);
        }
        
        100% {
          opacity: 1;
          transform: translate(-50%, 60%);
        }
      }
      
      .arrow {
        &::before,
        &::after {
          content: '';
          display: block;
          width: percentage(16/520);
          height: em(42);
          position: absolute;
          opacity: 0;
          z-index: 2;
          background: {
            image: url(/builds/client/assets/images/intro/arrow1.svg);
            repeat: no-repeat;
            position: center;
            size: 100% auto;
          };
        }
        
        &::before {
          top: 0;
          left: 50%;
          transform: translate(-50%, 0);
          
        }
        
        &::after {
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0);
        }
        
        @at-root {
          .section--intro--1.fp-completely {
            @keyframes intro1Symbol {
              0% {
                opacity: 0;
                transform: rotate(30deg);
              }
              
              100% {
                opacity: 1;
                transform: rotate(0);
              }
            }
            
            .symbol {
              path:first-child {
                animation: intro1Symbol 1s linear 0s 1 alternate both;
              }
            }
            
            .arrow::before {
              animation: arrowTop .5s linear 0s 1 alternate both;
            }
            
            .arrow::after {
              animation: arrowBottom .5s linear 0s 1 alternate both;
            }
          }
        }
      }
      
      .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(#f4f4f4, 1);
      }
    }
    
    @keyframes circleBottom {
      0% {
        opacity: 0;
        bottom: 50%;
        transform: translate(-50%, 50%);
      }
      
      100% {
        opacity: 1;
        bottom: 0;
        transform: translate(-50%, 0);
      }
    }
    
    .bottom {
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, 0);
      
      @at-root {
        .section--intro--1.fp-completely {
          .circle-wrap .bottom {
            animation: circleBottom 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0s 1 alternate both;
          }
        }
      }
      
      .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(#75ff7a, 1);
      }
    }
  }
}

.section--intro--2 {
  padding-top: em(130);
  padding-bottom: em(100);
  
  .intro-wrap {
    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      
      .intro-content {
        flex: 1 1 auto;
        padding-left: em(60);
      }
      
      .intro-thumb {
        flex: 0 0 50%;
        width: 50%;
      }
    }
  }
  
  .circle-wrap {
    position: relative;
    width: 100%;
    background-color: rgba(#f4f4f4, 0.6);
    border-radius: 100%;
    mix-blend-mode: multiply;
    
    &::after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    
    .symbol {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      width: em(36);
      
      @include media-breakpoint-up(lg) {
        width: em(56);
      }
    }
    
    .circle {
      width: percentage(364/600);
      border-radius: 100%;
      position: absolute;
      mix-blend-mode: multiply;
      
      &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      
      .circle__inner {
        opacity: 0;
        position: absolute;
        text-align: center;
      }
      
      .icon {
        display: block;
        width: em(20);
        height: em(20);
        margin: 0 auto;
        background: {
          repeat: no-repeat;
          position: center;
          size: cover;
        };
        
        @include media-breakpoint-up(sm) {
          width: em(30);
          height: em(30);
        }
        
        @include media-breakpoint-up(lg) {
          width: em(40);
          height: em(40);
        }
        
        @for $i from 1 through 3 {
          &.icon--#{$i} {
            background-image: url(/builds/client/assets/images/intro/icon2_#{$i}.svg);
          }
        }
      }
      
      .text {
        color: #333;
        display: block;
        text-align: center;
        font-size: vw(12);
        font-weight: 900;
        line-height: 1;
        margin-top: em(4, 12);
        
        @include media-breakpoint-up(sm) {
          font-size: em(18);
          margin-top: em(10, 18);
        }
      }
      
      @keyframes intro2circleInner {
        0% {
          opacity: 0;
          transform: translateY(20px);
        }
        
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      
      @keyframes intro2circleInner2 {
        0% {
          opacity: 0;
          transform: translate(-50%, -20px);
        }
        
        100% {
          opacity: 1;
          transform: translate(-50%, 0);
        }
      }
      
      @keyframes intro2circle1 {
        0% {
          opacity: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        
        100% {
          opacity: 1;
          top: 8%;
          left: 4%;
          transform: translate(0, 0);
        }
      }
      
      &.circle--1 {
        opacity: 0;
        background-color: rgba(#9aff9e, 1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        @at-root {
          .section--intro--2.active.fp-completely .circle--1 {
            animation: intro2circle1 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0s 1 alternate both;
            
            .circle__inner {
              animation: intro2circleInner 0.5s linear 1s 1 alternate both;
            }
          }
        }
        
        .circle__inner {
          top: percentage(110/364);
          left: percentage(93/364);
          transform: translateY(20px);
        }
      }
      
      @keyframes intro2circle2 {
        0% {
          opacity: 0;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
        }
        
        100% {
          opacity: 1;
          top: 8%;
          right: 4%;
          transform: translate(0, 0);
        }
      }
      
      &.circle--2 {
        opacity: 0;
        background-color: rgba(#a5d4ff, 1);
        top: 8%;
        right: 4%;
        
        .circle__inner {
          top: percentage(110/364);
          right: percentage(93/364);
        }
        
        @at-root {
          .section--intro--2.active.fp-completely .circle--2 {
            animation: intro2circle2 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0s 1 alternate both;
            
            .circle__inner {
              animation: intro2circleInner 0.5s linear 1s 1 alternate both;
            }
          }
        }
      }
      
      @keyframes intro2circle3 {
        0% {
          opacity: 0;
          bottom: 50%;
          transform: translate(-50%, 50%);
        }
        
        100% {
          opacity: 1;
          bottom: 0;
          transform: translate(-50%, 0);
        }
      }
      
      &.circle--3 {
        opacity: 0;
        background-color: rgba(#eef231, 1);
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        
        .circle__inner {
          bottom: percentage(74/364);
          left: 50%;
          transform: translateX(-50%);
        }
        
        @at-root {
          .section--intro--2.active.fp-completely .circle--3 {
            animation: intro2circle3 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0s 1 alternate both;
            
            .circle__inner {
              animation: intro2circleInner2 0.5s linear 1s 1 alternate both;
            }
          }
        }
      }
    }
  }
}

.section--intro--3 {
  padding-top: em(130);
  padding-bottom: em(70);
  
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .intro-wrap {
    position: relative;
    
    .intro-content {
      position: absolute;
      top: percentage(388/800);
      right: 0;
      text-align: left;
      width: percentage(260/360);
      
      @include media-breakpoint-up(lg) {
        position: static;
        width: 100%;
        text-align: center;
      }
      
      .title {
        font-size: vw(50);
        letter-spacing: -1px;
        margin-left: 0;
        
        @include media-breakpoint-up(sm) {
          font-size: em(75);
        }
        
        @include media-breakpoint-up(lg) {
          font-size: em(150);
          letter-spacing: -6px;
        }
      }
    }
  }
  
  .intro-thumb {
    width: percentage(1/3);
    
    @include media-breakpoint-up(lg) {
      width: 100%;
      margin-top: em(50);
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  .circle-wrap {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-wrap: wrap;
      margin-left: em(-40);
      margin-right: em(-40);
    }
    
    .circle {
      mix-blend-mode: multiply;
    }
    
    .circle-left,
    .circle-center,
    .circle-right {
      max-width: 100%;
      
      @include media-breakpoint-up(lg) {
        padding-left: em(40);
        padding-right: em(40);
      }
    }
    
    .circle-left {
      @include media-breakpoint-up(lg) {
        flex: 0 0 auto;
        width: percentage(660/1260);
        display: flex;
      }
      
      .circle {
        opacity: 0;
        
        @include media-breakpoint-up(lg) {
          flex: 0 0 auto;
          width: percentage(220/580);
          transform: translateX(20%);
        }
        
        & + .circle {
          @include media-breakpoint-up(lg) {
            margin-left: percentage(-40/580);
          }
        }
        
        &.circle--1 {
          background-color: rgba(#75ff7a, 1);
        }
        
        &.circle--2 {
          background-color: rgba(#dee219, 1);
        }
        
        &.circle--3 {
          background-color: rgba(#bdd4ff, 1);
        }
      }
      
      @keyframes intro3CircleLeftIn {
        0% {
          opacity: 0;
          transform: translateX(20%);
        }
        
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      @at-root {
        .section--intro--3.active.fp-completely {
          .circle--1 {
            animation: intro3CircleLeftIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) .6s 1 alternate both;
          }
          
          .circle--2 {
            animation: intro3CircleLeftIn 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) .4s 1 alternate both;
          }
          
          .circle--3 {
            animation: intro3CircleLeftIn 1.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) .2s 1 alternate both;
          }
          
          @include media-breakpoint-up(lg) {
            .circle--1 {
              animation: intro3CircleLeftIn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) .6s 1 alternate both;
            }
            
            .circle--2 {
              animation: intro3CircleLeftIn 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) .4s 1 alternate both;
            }
            
            .circle--3 {
              animation: intro3CircleLeftIn 1.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) .2s 1 alternate both;
            }
          }
        }
      }
    }
    
    .circle-center {
      margin: em(30) 0;
      
      @include media-breakpoint-up(lg) {
        flex: 0 0 auto;
        width: percentage(300/1260);
        display: flex;
        margin: 0;
      }
      
      .circle {
        background-color: rgba(#f4f4f4, 1);
      }
      
      .symbol {
        width: em(40);
        
        @include media-breakpoint-up(lg) {
          width: em(56);
        }
      }
    }
    
    .circle-right {
      opacity: 0;
      
      @include media-breakpoint-up(lg) {
        flex: 0 0 auto;
        width: percentage(300/1260);
        transform: translateX(-40px);
      }
      
      .circle {
        background-color: rgba(#ffbe8e, 1);
      }
      
      @keyframes intro3CircleRight {
        0% {
          opacity: 0;
          transform: translateX(-40px);
        }
        
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      
      @at-root {
        .section--intro--3.active.fp-completely .circle-right {
          animation: intro3CircleRight 1s linear 0s 1 alternate both;
        }
        
        @include media-breakpoint-up(lg) {
          .section--intro--3.active.fp-completely .circle-right {
            animation: intro3CircleRight 1s linear 0s 1 alternate both;
          }
        }
      }
    }
    
    .circle {
      position: relative;
      display: block;
      width: 100%;
      border-radius: 100%;
      
      &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      
      img,
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      .text {
        display: block;
        text-align: center;
        font-size: vw(12);
        font-weight: 900;
        line-height: (20/16);
        letter-spacing: -0.5px;
        word-break: keep-all;
        
        br {
          display: none;
        }
        
        @include media-breakpoint-up(sm) {
          font-size: 1em;
          
          br {
            display: block;
          }
        }
      }
    }
  }
}

.section--intro--4 {
  padding-top: em(165);
  padding-bottom: em(117);
  
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .intro-wrap {
    @include media-breakpoint-up(lg) {
      display: flex;
      flex-direction: row-reverse;
    }
    
    .intro-content {
      position: relative;
      flex: 1 1 auto;
      z-index: 2;
      text-align: center;
      
      @include media-breakpoint-up(lg) {
        padding-top: em(320);
        margin-left: em(-60);
        text-align: left;
      }
      
      .title {
        position: relative;
        font-size: vw(42);
        color: rgba($primary, 0.9);
        letter-spacing: -0.5px;
        
        @include media-breakpoint-up(sm) {
          font-size: em(60);
        }
        
        @include media-breakpoint-up(lg) {
          font-size: em(80);
        }
        
        .guide {
          position: absolute;
          top: em(4, 13);
          left: em(354, 13);
          font-size: em(13, 80);
          line-height: 1;
          color: #ccc;
          font-weight: 700;
          display: flex;
          align-items: center;
          letter-spacing: -0.5px;
          gap: em(4, 13);
          
          &::before {
            content: '';
            display: block;
            width: em(13, 13);
            height: em(13, 13);
            background: {
              image: url(/builds/client/assets/images/icons/notification_gray.svg);
              repeat: no-repeat;
              position: center;
              size: cover;
            };
          }
        }
      }
    }
    
    .intro-thumb {
      padding-bottom: em(30);
      
      @include media-breakpoint-up(lg) {
        flex: 0 0 percentage(480/1200);
        width: percentage(480/1200);
        padding-bottom: 0;
      }
      
      img {
        transform-origin: center;
        opacity: 0;
        transform: scale(0.5);
        
        @keyframes intro4img {
          0% {
            opacity: 0;
            transform: scale(1.1);
          }
          
          100% {
            opacity: 1;
            transform: scale(1);
          }
        }
        
        @at-root {
          .section--intro--4.active.fp-completely .intro-thumb img {
            animation: intro4img 1s linear 0s 1 alternate both;
          }
        }
      }
    }
  }
  
  .terminal {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;
    gap: em(30);
    opacity: 0;
    transform: translateY(-32px);
    
    @include media-breakpoint-up(lg) {
      display: flex;
    }
    
    @keyframes terminal {
      0% {
        opacity: 0;
        transform: translateY(-32px);
      }
      
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
    
    @at-root {
      .section--intro--4.fp-completely {
        .terminal {
          animation: terminal 1s linear 0s 1 alternate both;
        }
      }
    }
    
    .item {
      flex: 0 0 em(160);
      text-align: center;
    }
    
    &__title {
      color: #333;
      margin-top: em(10, 14);
      font-size: em(14);
      font-weight: 900;
      line-height: 1;
    }
    
    &__text {
      color: #999;
      margin-top: em(8, 12);
      font-size: em(12);
      font-weight: 700;
      line-height: (16/12);
    }
  }
}