$breakpoints: (
  xs: 0,
  sm: 576.02px,
  md: 768.02px,
  tab: 1024.02px,
  lg: 1440.02px,
  xl: 1660.02px,
  xxl: 1920.02px
);

$displays: 'none', 'block', 'inline-block', 'flex', 'inline-flex';

@each $prop in $displays {
  @each $prefix, $value in $breakpoints {
    @if ( $value == 0 ) {
      .d-#{$prop} {
        display: #{$prop} !important;
      }
    } @else {
      @include mdq-min($prefix) {
        .d-#{$prefix}-#{$prop} {
          display: #{$prop} !important;
        }
      }
    }
  }
}